/* Add screen styles below */
a.active {
    font-weight: bold;
}

html {
    background-color: darkgray
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

p.text {
    margin-bottom: 60px;
    background-color: lightgrey;
    color: black;
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
}

h1 {
    background-color: lightgrey;
    color: black;
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
}

h2 {
    display: inline-block;
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
}

nav {
    display: inline-block;
    background-color: lightgray;
    padding: 5px;
    border-radius: 5px;
}

img {
    border-radius: 50px;
}

nav a {
    color: black;
}

nav a:hover {
    color: gray;
}